body {
  background-color: #f4f6f8;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

.card {
  border: 1px solid black;
  padding: 16px;
  margin: 10px;
  width: 200px;
  border-radius: 8px;

}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}

.box{
    padding: 20px;
    margin: 10px;
}